.container-about {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  padding: var(--container-padding);
}

.container-about .about-box {
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 60px 0; */
  padding-bottom: 60px;
  background-color: rgba(254, 254, 254, 0.2);
  margin-bottom: 30px;
  border-radius: 10px;
}

.container-about .about-box .text-box {
  width: 450px;
  height: 350px;
  /* height: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(254, 254, 254, 0.1);
  padding: 0 40px;
  border-radius: 10px;
}

.container-about .about-box .text-box h1 {
  font-size: var(--h1-title);
  text-align: center;
  /* height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.container-about .about-box .text-box h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.container-about .about-box .text-box .href .href-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-about .about-box .text-box .href .href-box p {
  font-size: 1.1rem;
  margin-right: 5px;
}

.container-about .about-box .text-box .href .href-box .btn-copy {
  background-image: url(../svg/github.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.container-about .about-box .text-box .href .href-box .btn-copy:hover {
  scale: calc(1.05);
}

.container-about .about-box .text-box .href .href-box .btn-copy:active {
  scale: calc(1);
}

.container-about footer {
  height: 12%;
  background-color: rgba(31, 31, 33, 0.75);
  color: #fefefe;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.container-about footer .footer-box {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-about footer .footer-box .copyright {
  font-size: 1.1rem;
}

.container-about footer .footer-box .copyright i {
  font-style: normal;
}

.container-about footer .footer-box .info {
  font-size: 1rem;
}